.history-url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 55rem;
    margin: 0;
}

.history-date {
    min-width: 12rem;
}

.feature-title {
    font-size: x-small;
}